---
- name: WireGuard VPN
  hosts: vpn_servers
  become: yes
  vars:
    server_public_ip: "X.X.X.X" 
    vpn_port: 51820
    server_internal_ip: "10.6.0.1"
    
    # HERE YOU WILL ADD YOUR CLIENTS
    # IF YOU WANT MORE CLIENTS, JUST ADD MORE NAMES TO THE LIST
    # client list - all the .conf files needed will be generated for these clients
    vpn_clients:
      - "laptop_tudor"

  tasks:
    - name: install wg
      ansible.builtin.apt:
        name: wireguard
        state: present
        update_cache: yes

    - name: ip forward
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    # generate only one set of private-public keys for the server
    - name: generate server keys
      ansible.builtin.shell: |
        umask 077
        wg genkey | tee /etc/wireguard/server_private.key | wg pubkey > /etc/wireguard/server_public.key
      args:
        creates: /etc/wireguard/server_private.key

    # generate client keys
    # uses loop to generate multiple client keys based on vpn_clients list
    - name: generate client keys
      ansible.builtin.shell: |
        umask 077
        wg genkey | tee /etc/wireguard/{{ item }}_private.key | wg pubkey > /etc/wireguard/{{ item }}_public.key
      args:
        creates: "/etc/wireguard/{{ item }}_private.key"
      loop: "{{ vpn_clients }}"

    # build the server_keys for later use in wg0.conf
    - name: read server keys
      ansible.builtin.slurp:
        src: "/etc/wireguard/{{ item }}"
      loop:
        - server_private.key
        - server_public.key
      register: server_keys

    # build the clients_pub_keys and clients_priv_keys for later use in wg0.conf and client configs
    - name: read client public keys
      ansible.builtin.slurp:
        src: "/etc/wireguard/{{ item }}_public.key"
      loop: "{{ vpn_clients }}"
      register: clients_pub_keys

    - name: read client private keys
      ansible.builtin.slurp:
        src: "/etc/wireguard/{{ item }}_private.key"
      loop: "{{ vpn_clients }}"
      register: clients_priv_keys

    # building the wg0.conf file - just one file, for the server
    - name: wg0.conf configuration
      ansible.builtin.copy:
        dest: /etc/wireguard/wg0.conf
        mode: '0600'
        content: |
          [Interface]
          Address = {{ server_internal_ip }}/24
          ListenPort = {{ vpn_port }}
          PrivateKey = {{ server_keys.results[0].content | b64decode | trim }}
          PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
          PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

          # Adding peers (clients)
          {% for item in vpn_clients %}
          # Client: {{ item }}
          [Peer]
          PublicKey = {{ clients_pub_keys.results[loop.index0].content | b64decode | trim }}
          AllowedIPs = 10.6.0.{{ loop.index + 1 }}/32
          {% endfor %}
      
      # after changing/creating the wg0.conf, we need to restart the wg service
      notify: restart wg

    # the files that will be used by the clients to connect to the VPN
    # they will be created on the server, then fetched to your machine
    # just one Interface and one Peer per client config
    - name: gen client configs
      ansible.builtin.copy:
        dest: "/root/{{ item }}.conf"
        content: |
          [Interface]
          PrivateKey = {{ clients_priv_keys.results[my_idx].content | b64decode | trim }}
          Address = 10.6.0.{{ my_idx + 2 }}/32

          [Peer]
          PublicKey = {{ server_keys.results[1].content | b64decode | trim }}
          Endpoint = {{ server_public_ip }}:{{ vpn_port }}
          AllowedIPs = 0.0.0.0/0
          PersistentKeepalive = 25
      loop: "{{ vpn_clients }}"
      loop_control:
        index_var: my_idx


    - name: start wg-quick service
      ansible.builtin.service:
        name: wg-quick@wg0
        state: started
        enabled: yes

    - name: download client configs
      ansible.builtin.fetch:
        src: "/root/{{ item }}.conf"
        dest: "./vpn_configs/{{ item }}.conf"
        flat: yes
      loop: "{{ vpn_clients }}"

  handlers:
    - name: restart wg
      ansible.builtin.service:
        name: wg-quick@wg0
        state: restarted